<h1>Pick a Place to Eat</h1>
<table class="table table-striped">
  <tr>
  	<th>Thing</th>
  	<th>Details</th>
  </tr>
  <tr>
		<td>Name</td>
	  <td><%= @userfb.name %></td>
  </tr>
  <tr>
	  <td>City</td>
	  <td><%= @userfb.location.name %></td>
  </tr>
  <tr>
	  <td>Things they Like</td>
	  <td><%= @userfb.likes.map {|d| d.category} %></td>
  </tr>
</table>
<table class="table table-striped">
	<%= render 'home/yelpSingle', yelp: @yelp %>
</table>